<ion-header>
  <ion-toolbar color="success">
  	<ion-buttons slot="start">
  		<ion-back-button text=""></ion-back-button>
  	</ion-buttons>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<app-pickup-call-card status="hold" updatedAt="27/10/2021 08:47:38" createdAt="26/10/2021" 
		notes="We have two full bags, one with plastic and one with glass"></app-pickup-call-card>
		
	<app-pickup-call-card status="processing" updatedAt="28/10/2021 14:48:23" createdAt="26/10/2021" 
		notes="We have two full bags"></app-pickup-call-card>
	
	<app-pickup-call-card status="finished" updatedAt="29/10/2021 09:09:11" createdAt="26/10/2021" 
		value="$ 10,00"></app-pickup-call-card>
	
</ion-content>
